- var links = printyFineHelpers.links.filtered(user)

.navbar.navbar-default.navbar-fixed-top
  .container

    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        span.ion-cube
        | Printy Fine

    .collapse.navbar-collapse

      ul.nav.navbar-nav
        each info in printyFineHelpers.links.selectGroup(links, 'page')
          li.footer-link-wrp(class=(reqPath==info.url ? 'active' : undefined))
            a(href=info.url)= info.title

      ul.nav.navbar-nav.navbar-right
        if !user
          each info in printyFineHelpers.links.selectGroup(links, 'session')
            li.footer-link-wrp(class=(reqPath==info.url ? 'active' : undefined))
              a(href=info.url)= info.title
        else
          li.dropdown(class=(reqPath == '/account' ? 'active' : undefined))
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              each info in printyFineHelpers.links.selectGroups(links, ['session', 'profile'])
                li.footer-link-wrp(class=reqPath==info.url?'active':undefined)
                  a(href=info.url)
                    if info.hasOwnProperty('icon')
                      span.fa(class='fa-' + info.icon)
                    = info.title
