extends ../layout

block content

  .container
    .page-header
      h3= title

    if tags.length > 0
      .panel-group(id='tags', role='tablist', aria-multiselectable='true')

        each tag, index in tags
          .panel.panel-default
            .panel-heading.clearfix(role='tab', id='heading-' + index)
              .pull-left
                img(src=tag.icon)
              .pull-left.left-detached
                h5= tag.title
                h6= tag.description
              a.pull-right(data-toggle='collapse', data-parent='#tags', href='#body-' + index, aria-expanded='false', aria-controls='body-' + index)
                span.glyphicon.glyphicon-plus(aria-hidden='true')= tag.linkedFinePrints.length
            .panel-collapse.collapse(id='body-' + index, role='tabpanel', aria-labelledby='heading-' + index)
              .panel-body
                h6 All the associated fineprints
                ul.list-group
                  each fineprint in tag.linkedFinePrints
                    li.list-group-item.clearfix
                      span.pull-left= fineprint.serviceName + '\'s'
                      span.pull-left.left-detached= fineprint.name
                      a.btn.btn-primary.pull-right(href='/services/' + fineprint.serviceId + '/finePrints/' + fineprint._id, target='_blank') Show
    else
      p You haven't got any associated fineprint tag at the moment.
