extends ../layout

block content

  .container
    .page-header
      h3= finePrint.name + " - Edit"
    form.form-horizontal(id='finePrint-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='name') Name
        .col-sm-7
          input.form-control(type='text', name='name', id='name', placeholder='name', autofocus, value=finePrint.name)
      .form-group
        label.col-sm-3.control-label(for='description') Description
        .col-sm-7
          textarea.form-control(rows='5', name='description', id='description', placeholder='description')
            =finePrint.description
          
      .form-group
        label.col-sm-3.control-label(for='Tags') Tags
        .btn-group(data-toggle='buttons').col-sm-7
            each tag in availableTags
                label.btn.btn-default
                    input(type="checkbox")
                    img(src=tag.icon alt=tag.title)
          
      .form-group
        .col-sm-offset-3.col-sm-7
          a.btn.btn-warning(href='/service')
            span.ion-android-arrow-back
            | Back
          button.btn.btn-success(type='submit')
            span.ion-person-add
            | Save