extends ../layout

block content

  div.row.fineprint-header
    div.fineprint-name-wrp.col-sm-10.vcenter
      h2.fineprint-name= finePrint.name

  div.fineprint-tags-wrp

    div.well

      ul.fineprint-tags
        each tag in finePrint.finePrintTags
          li.tag-wrp
            div.tag.panel.panel-success
              div.tag-name-wrp.panel-heading
                h3.tag-name= tag.title
              div.panel-body
                div.col-sm-1
                  img.tag-icon(src=tag.icon)
                div.tag-description-wrp.col-sm-11
                  p.tag-description= tag.description


  div.fineprint-description-wrp.row
    p.fineprint-description.col-sm-12= finePrint.description
